*{
    margin:5px;
    padding:0;
    font-family:'Nanum Myeongjo', serif;
    background-color:#d1e3da;
}

h3 {
    padding-top:18px;
}

.content {
    display:flex;
}

.column {
    flex:50%;
}

image {
    max-width:100%;
}
