*{
    margin:5px;
    padding:0;
    font-family:'Nanum Myeongjo', serif;
    background-color:#d1e3da;
}

/* .introduction {
    position: relative;
    float:left;
    height:100%;
    width:35%;
    margin-left:2%;
    display:block;
    padding:10px;
} */

h3 {
    padding-top:18px;
}

.content {
    display:flex;
}

.column {
    flex:50%;
}

image {
    max-width:100%;
}
